<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonglongma.common.mapper">
    <insert id="add" parameterType="User" >
        insert into user ( name ) values (#{name})
    </insert>

    <delete id="delete" parameterType="user" >
        delete from User where id= #{id}
    </delete>

    <select id="get" parameterType="Long" resultType="User">
        select * from   User  where id= #{id}
    </select>

    <update id="update" parameterType="User" >
        update User set name=#{name} where id=#{id}
    </update>
    <select id="list" resultType="User">
        select * from   User
    </select>
</mapper>

