<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="springHelloWorld" class="com.yonglongma.module.ioc.SpringHelloWorld"></bean>
        <bean id="strutsHelloWorld" class="com.yonglongma.module.ioc.StrutsHelloWorld"></bean>

        <bean id="helloWorldService" class="com.yonglongma.module.ioc.setting.HelloWorldService">
            <property name="helloWorld" ref="springHelloWorld"/>
        </bean>

       <bean id="service" class="com.yonglongma.module.ioc.constructor.HelloWorldService">
           <constructor-arg>
               <ref bean="strutsHelloWorld"/>
           </constructor-arg>
       </bean>

</beans>