<?xml version="1.0" encoding="utf-8" ?>
<suite name="testproj" parallel="false">
    <test name="testDemo1">
        <!--<packages>
            <package name="com.testproj.Demo"/>
        </packages>-->
        <classes>
            <class name="com.yonglongma.helloword.service.TestUserService"></class>
        </classes>
    </test>
</suite>