#map {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}
.search_div{
    width: 200px;
    left: 200px;
    top: 40px;
    z-index: 400;
}
#searchInput{
    clear:both;
    overflow:hidden;
    width:250px;

}
#searchInput>span{
    float:right;
    z-index: 400;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
}
.myPageTop{
    position: absolute;
    top: 35px;
    font-family: "Microsoft Yahei", ΢���ź�, Pinghei;
    font-size: 14px;
    padding: 6px;
    right:240px;
    z-index: 400;
}
#failure-menu li{
    width:260px;
    cursor: pointer;
}
#failure-menu span{
    color: #999;
    margin-left: 10px;
    font-size: 13px;
}